#app {
  background-color: #fafafa;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* DARK THEME */
body.dark #app{
  color: white;
  background-color:#000000;
}

#header {
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

/* DARK THEME */
body.dark #header{
  border-bottom: 1px solid #eeeeee;
  background-color:#000000;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
#nav a {
  color: rgb(0, 119, 255);

}
#footer {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: .5em 1em;
  background-color: #fff;
  font-size: .8em;
}

/* DARK THEME */
body.dark #footer{
  background-color:#000000;
}

#app-title {
  font-size: 1.8em;
  font-weight: 700;
  color: rgb(0, 119, 255);
  ;
}
#login {
  width: 380px;
  margin: 4em auto;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 20px #aaa;
  padding: 1.5em;
  border-top: 3px solid rgb(0, 119, 255);
  border-radius: 4px;
}

/* DARK THEME */
body.dark #login{
  background-color:#000000;
}

#login-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
#form-title {
  font-style: italic;
  font-weight: 700;
  font-size: 1.4em;
  color: rgb(0, 119, 255);
}
.field {
  padding: .5em 0
}
.field-info {
  color: #999;
  margin-top: .2em;
  font-size: .7em;
}
.field-label {
  display: block;
  font-weight: 700;
  font-size: .8em;
  padding: .2em 0;
}

.field-input {
  padding: .3em;
  width: 100%;
  border: 1px solid #ccc;
}

#login-submit {
  background-color: rgb(0, 119, 255);
  align-self: flex-end;
  border: none;
  padding: .5em .8em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
  margin-top: 1em;
}

.invalid {
  border: 1px solid #ff3860;
}

.valid {
  border: 1px solid rgb(0, 119, 255);
}

#errors {
  margin-top: 1em;
}

.error {
  border-radius: 4px;
  background-color: #ff3860;
  color: #fff;
  font-size: .9em;
  padding: 1em;
  margin-bottom: 1em;
  line-height: 1.4;
}